.title {
  text-align: center;
  font-size: 2rem;
  color: #adadad;
}

.container {
  min-height: fit-content;
  display: flex;
  padding: 1rem;
  margin: 1% 25%;
  align-items: center;
  flex-wrap: nowrap;
  background: black;
  border: 0.1rem;
  border-style: solid;
  border-color: rgb(173, 173, 173);
}

.text {
  display: inline-block;
  color: rgb(173, 173, 173);
}

@media screen and (max-width: 1000px) {
  .container {
    margin: 1% 0%;
  }

  .ant-layout-content {
    padding: 0% !important;
  }
}

.complete {
  margin: 1%;
  background-color: white; 
}

.complete:hover {
  background-color: rgb(0, 163, 98);
}

.cancel:hover {
  background-color: #a12a2a;
}


/* Copiado desde Animista */
.deleted-task {
	-webkit-animation: deleted-task 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: deleted-task 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes deleted-task{
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
}

@keyframes deleted-task {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
}